header{    
    display: flex;        
}

header > h1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green; 
    color: white;
    margin: 0;   
    width: 30%;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    color: white;
    width: 1000px;
    height: 50px;
}

a{
    margin: 20px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: space-around;
}

.sections{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60%;
}

.section{
    display: flex;    
    border: 2px solid black;
    margin: 10px;
}

#top{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

h2{
    margin-left: 20px;;
}

li{
    margin-left: 50px;
    margin-bottom: 10px;
}

#middle{
    display: flex;
    justify-content: flex-end;
}

#bottom{
    display: flex;
    justify-content: flex-start;
}

p{
    color: white;
    background-color: black;
    height: 100px;
    width: 100px;
    margin: 10px;
}

.panel{
        
    border: 2px solid black;
    margin: 10px;
    width: 30%    
}

.panel > section > p{ 
    display: flex;   
    background-color: white;
    color: black;
    width: 90%;    
}

.panel > section > h1{
    margin-left: 10px;
}